In [93]:
import pandas as pd
eUnit = {"Shen Lee": 1, 
         "Leon Buhle":0.5,
         "Tracy Adams": 0.8,
         "Lebo Sinuka": 1.5,
         "Lauren Pierce": 1.2,
         "Monika Bond": 2,
         "Natahs Allsopp": 0.3,
         "Nicholas Winter": 1.1,
         "Christopher Eckson": 2.2,
         "Siobhan O’Malley": 1.5
        }
ser1 = pd.Series(eUnit)
bonusLv =ser1//1*3 #3 days added for one full unit of employment as a bonus

#Leave per cycle: 
#10 days sick leave,
#20 days annual leave,
#5 days personal leave, 
#and 3 days added for one full unit of employment as a bonus
annualTotal = 30 + bonusLv

In [96]:
pNums = {"Shen Lee": 215,
         "Leon Buhle":216,
         "Tracy Adams": 217,
         "Lebo Sinuka": 218,
         "Lauren Pierce": 219,
         "Monika Bond": 220,
         "Natahs Allsopp": 221,
         "Nicholas Winter": 222,
         "Christopher Eckson": 223,
         "Siobhan O’Malley": 224
        }
ser2 = pd.Series(pNums)

In [107]:
leaveTaken = {"Shen Lee": [0,0,0],
           "Leon Buhle": [2,0,1],
           "Tracy Adams": [0,5,0],
           "Lebo Sinuka": [1,4,5],
           "Lauren Pierce": [3,2,0],
           "Monika Bond": [0,5,3],
           "Natahs Allsopp": [1,10,0],
           "Nicholas Winter": [0,8,1],
           "Christopher Eckson": [2,10,3],
           "Siobhan O’Malley": [5,0,0]
          }
df = pd.DataFrame(leaveTaken, index=["sickLv", "annualLv","personalLv"]).transpose()
df["days_remained"] = totalLv - df["sickLv"] - df["annualLv"] - df["personalLv"]
df["personalNums"] = ser2
df.reset_index(inplace = True)
df.rename(columns={"index":"staffName"}, inplace=True)
df.set_index(["staffName","personalNums"], inplace=True)

                                 sickLv  annualLv  personalLv  days_remained
staffName          personalNums
Shen Lee           215                0         0           0           33.0
Leon Buhle         216                2         0           1           27.0
Tracy Adams        217                0         5           0           25.0
Lebo Sinuka        218                1         4           5           23.0
Lauren Pierce      219                3         2           0           28.0
Monika Bond        220                0         5           3           28.0
Natahs Allsopp     221                1        10           0           19.0
Nicholas Winter    222                0         8           1           24.0
Christopher Eckson 223                2        10           3           21.0
Siobhan O’Malley   224                5         0           0           28.0

In [109]:
fitness = pd.read_csv("daily_activity.csv")

In [113]:
fitness.columns.values.tolist()

['Id',
 'ActivityDate',
 'TotalSteps',
 'TotalDistance',
 'TrackerDistance',
 'LoggedActivitiesDistance',
 'VeryActiveDistance',
 'ModeratelyActiveDistance',
 'LightActiveDistance',
 'SedentaryActiveDistance',
 'VeryActiveMinutes',
 'FairlyActiveMinutes',
 'LightlyActiveMinutes',
 'SedentaryMinutes',
 'Calories']

In [115]:
fitness['cal_cat'] = fitness['Calories'] - fitness['Calories'].mean()

In [120]:
fitness['cal_cat'].value_counts()

-323.609574     13
-240.609574     11
-462.609574      9
-615.609574      9
-956.609574      8
                ..
-2251.609574     1
 1350.390426     1
-322.609574      1
-292.609574      1
-454.609574      1
Name: cal_cat, Length: 734, dtype: int64

In [95]:
df

,sickLv,annualLv,personalLv,personalNums,leave_remained,days_remained
Shen Lee,0,0,0,215,33.0,33.0
Leon Buhle,2,0,1,216,27.0,27.0
Tracy Adams,0,5,0,217,25.0,25.0
Lebo Sinuka,1,4,5,218,23.0,23.0
Lauren Pierce,3,2,0,219,28.0,28.0
Monika Bond,0,5,3,220,28.0,28.0
Natahs Allsopp,1,10,0,221,19.0,19.0
Nicholas Winter,0,8,1,222,24.0,24.0
Christopher Eckson,2,10,3,223,21.0,21.0
Siobhan O’Malley,5,0,0,224,28.0,28.0

In [85]:
df

                    sickLv  annualLv  personalLv  personalNums
Shen Lee                 0         0           0           215
Leon Buhle               2         0           1           216
Tracy Adams              0         5           0           217
Lebo Sinuka              1         4           5           218
Lauren Pierce            3         2           0           219
Monika Bond              0         5           3           220
Natahs Allsopp           1        10           0           221
Nicholas Winter          0         8           1           222
Christopher Eckson       2        10           3           223
Siobhan O’Malley         5         0           0           224

In [81]:
df

            staffName  sickLv  annualLv  personalLv  personalNums
0            Shen Lee       0         0           0           NaN
1          Leon Buhle       2         0           1           NaN
2         Tracy Adams       0         5           0           NaN
3         Lebo Sinuka       1         4           5           NaN
4       Lauren Pierce       3         2           0           NaN
5         Monika Bond       0         5           3           NaN
6      Natahs Allsopp       1        10           0           NaN
7     Nicholas Winter       0         8           1           NaN
8  Christopher Eckson       2        10           3           NaN
9    Siobhan O’Malley       5         0           0           NaN

In [49]:
df1["personalNums"] = ser2

In [51]:
#10 days sick leave, 20 days annual leave, 5 days personal leave, and 3 days added for one full unit of employment as a bonus.
daysLeft = 10+20+5+

Index(['sickLv', 'annualLv', 'personalLv', 'personalNums'], dtype='object')

In [55]:
df1.columns[0]

'sickLv'

In [56]:
col_idx = ['personalNums','sickLv', 'annualLv', 'personalLv']

In [57]:
df1.columns = col_idx

In [58]:
df1

                    personalNums  sickLv  annualLv  personalLv
Shen Lee                       0       0         0         215
Leon Buhle                     2       0         1         216
Tracy Adams                    0       5         0         217
Lebo Sinuka                    1       4         5         218
Lauren Pierce                  3       2         0         219
Monika Bond                    0       5         3         220
Natahs Allsopp                 1      10         0         221
Nicholas Winter                0       8         1         222
Christopher Eckson             2      10         3         223
Siobhan O’Malley               5       0         0         224

In [27]:
ser3

,Shen Lee,Leon Buhle,Tracy Adams,Lebo Sinuka,Lauren Pierce,Monika Bond,Natahs Allsopp,Nicholas Winter,Christopher Eckson,Siobhan O’Malley
0,0,2,0,1,3,0,1,0,2,5
1,0,0,5,4,2,5,10,8,10,0
2,0,1,0,5,0,3,0,1,3,0

In [25]:
ser3

Shen Lee               [0, 0, 0]
Leon Buhle             [2, 0, 1]
Tracy Adams            [0, 5, 0]
Lebo Sinuka            [1, 4, 5]
Lauren Pierce          [3, 2, 0]
Monika Bond            [0, 5, 3]
Natahs Allsopp        [1, 10, 0]
Nicholas Winter        [0, 8, 1]
Christopher Eckson    [2, 10, 3]
Siobhan O’Malley       [5, 0, 0]
dtype: object

In [23]:
totalLv

{'Shen Lee': [0, 0, 0],
 'Leon Buhle': [2, 0, 1],
 'Tracy Adams': [0, 5, 0],
 'Lebo Sinuka': [1, 4, 5],
 'Lauren Pierce': [3, 2, 0],
 'Monika Bond': [0, 5, 3],
 'Natahs Allsopp': [1, 10, 0],
 'Nicholas Winter': [0, 8, 1],
 'Christopher Eckson': [2, 10, 3],
 'Siobhan O’Malley': [5, 0, 0]}

In [ ]:
def bonusLv(n):
     for i in eUnit.key:
            eUnit(i)

In [18]:
ser1 = pd.Series(eUnit)

In [19]:
ser1

Shen Lee              1.0
Leon Buhle            0.5
Tracy Adams           0.8
Lebo Sinuka           1.5
Lauren Pierce         1.2
Monika Bond           2.0
Natahs Allsopp        0.3
Nicholas Winter       1.1
Christopher Eckson    2.2
Siobhan O’Malley      1.5
dtype: float64