### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics using Python

## Practical activity: Create a DataFrame from the dictionary

**This is the start to the activity.**

A peer has come to you for help. They have started building a dictionary using Jupyter Notebook. Below you will find their incomplete code. Now that you have learned to add values and keys using a DataFrame, make changes to the code to complete the following:
- Import the dictionary into a DataFrame and add two more rows to the state and capital columns.
- Sense-check the code that was presented to you is accurate and free from errors.

### Raw data
- states = ["Acre", "Alogoas", "Amapa", "Amazonas", "Bahia", "Ceara", "Distrito Federal", 
            "Espirito Santo", "Goiás", "Maranhao", "Mato grosso", "Mato grosso do sul", 
            "Minas gerais", "Para", "Paraiba", "Parana", "Pernambuco", "Piaui", "Rio de Janeiro", 
            "Rio Grande do norte", "Rio Grande do Sul", "Rondonia", "Roraima", "Santa Catarina", 
            "Sao Paulo", "Sergipe", "Tocantins"]

- capitals = ["Rio Branco", "Maceió" "Macapá", "Manaus", "Salvador", "Fortaleza", "Brasília", 
              "Vitória", "Goiânia", "São Luís", "Cuiabá", "Campo Grande","Belo Horizonte","Belém",
              "João Pessoa", "Curitiba", "Recife", "Teresina", "Rio de Janeiro", "Natal", "Porto Alegre", 
              "Porto Velho", "Boa Vista", "Florianópolis", "São Paulo", "Aracaju", "Palmas"]

### Incomplete Dictionary

In [73]:
brazil = {'Acre': 'Rio Branco',
          'Alogoas': 'Maceió',
          'Amapa': 'Macapá',
          'Amazonas': 'Manaus',
          'Bahia': 'Salvador'}
import pandas as pd
brz1 = pd.Series(brazil)

In [76]:
brz1.index.name = "state"
brz1.name = "capital"

In [51]:
states = ["Ceara", 
          "Distrito Federal", 
          "Espirito Santo", 
          "Goiás", 
          "Maranhao", 
          "Mato grosso", 
          "Mato grosso do sul", 
          "Minas gerais", 
          "Para", 
          "Paraiba", 
          "Parana", 
          "Pernambuco", 
          "Piaui", 
          "Rio de Janeiro", 
          "Rio Grande do norte", 
          "Rio Grande do Sul", 
          "Rondonia", 
          "Roraima", 
          "Santa Catarina", 
          "Sao Paulo", 
          "Sergipe", 
          "Tocantins"]

capitals = ["Fortaleza", 
            "Brasília", 
            "Vitória", 
            "Goiânia", 
            "São Luís", 
            "Cuiabá", 
            "Campo Grande",
            "Belo Horizonte",
            "Belém", 
            "João Pessoa", 
            "Curitiba", 
            "Recife", 
            "Teresina", 
            "Rio de Janeiro", 
            "Natal", 
            "Porto Alegre", 
            "Porto Velho", 
            "Boa Vista", 
            "Florianópolis", 
            "São Paulo", 
            "Aracaju", 
            "Palmas"]

In [80]:
brz2 =[]
for i in range(len(states)):
    brazilList = [states[i]] + [capitals[i]]
    brz2 = brz2 + [brazilList]
brazil2 = dict(brz2)
brz2 = pd.Series(brazil2)
brz2.index.name="state"
brz2.name = "capital"

In [81]:
brz2

state
Ceara                       Fortaleza
Distrito Federal             Brasília
Espirito Santo                Vitória
Goiás                         Goiânia
Maranhao                     São Luís
Mato grosso                    Cuiabá
Mato grosso do sul       Campo Grande
Minas gerais           Belo Horizonte
Para                            Belém
Paraiba                   João Pessoa
Parana                       Curitiba
Pernambuco                     Recife
Piaui                        Teresina
Rio de Janeiro         Rio de Janeiro
Rio Grande do norte             Natal
Rio Grande do Sul        Porto Alegre
Rondonia                  Porto Velho
Roraima                     Boa Vista
Santa Catarina          Florianópolis
Sao Paulo                   São Paulo
Sergipe                       Aracaju
Tocantins                      Palmas
Name: capital, dtype: object

In [82]:
brazil = brz1.append(brz2)

C:\Users\Kenneth Lo\AppData\Local\Temp\ipykernel_10144\819021384.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  brazil = brz1.append(brz2)

In [84]:
brazil.reset_index()

                  state         capital
0                  Acre      Rio Branco
1               Alogoas          Maceió
2                 Amapa          Macapá
3              Amazonas          Manaus
4                 Bahia        Salvador
5                 Ceara       Fortaleza
6      Distrito Federal        Brasília
7        Espirito Santo         Vitória
8                 Goiás         Goiânia
9              Maranhao        São Luís
10          Mato grosso          Cuiabá
11   Mato grosso do sul    Campo Grande
12         Minas gerais  Belo Horizonte
13                 Para           Belém
14              Paraiba     João Pessoa
15               Parana        Curitiba
16           Pernambuco          Recife
17                Piaui        Teresina
18       Rio de Janeiro  Rio de Janeiro
19  Rio Grande do norte           Natal
20    Rio Grande do Sul    Porto Alegre
21             Rondonia     Porto Velho
22              Roraima       Boa Vista
23       Santa Catarina   Florianópolis
24            Sao Paulo       São Paulo
25              Sergipe         Aracaju
26            Tocantins          Palmas

In [85]:
ott = pd.read_csv("ott.csv")
movies = pd.read_excel("movies.xlsx")

In [87]:
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [88]:
movies["Age"].isna().sum()

9390

In [90]:
movies[movies["Age"].isna()].any(axis=1)

32       True
57       True
89       True
110      True
123      True
         ...
16736    True
16739    True
16741    True
16742    True
16743    True
Length: 9390, dtype: bool

In [95]:
movies["Age"].fillna("others", inplace=True)

In [104]:
for i in ["Directors", "Genres", "Country","Language"]:
    movies[i].fillna("others", inplace=True)

In [105]:
movies[["Directors", "Genres", "Country","Language"]].isna().sum()

Directors    0
Genres       0
Country      0
Language     0
dtype: int64

In [107]:
movies["Rotten Tomatoes"]

0        0.87
1        0.87
2        0.84
3        0.96
4        0.97
         ...
16739     NaN
16740     NaN
16741     NaN
16742     NaN
16743     NaN
Name: Rotten Tomatoes, Length: 16744, dtype: float64

In [108]:
movies[["IMDb", "Rotten Tomatoes"]].isna().sum()

IMDb                 571
Rotten Tomatoes    11586
dtype: int64

In [121]:
movies["IMDb"].fillna(movies["IMDb"].mean(), inplace=True)

In [122]:
movies["Rotten Tomatoes"].fillna(movies["Rotten Tomatoes"].mean(), inplace=True)

In [123]:
movies[["IMDb","Rotten Tomatoes"]].isna().sum()

IMDb               0
Rotten Tomatoes    0
dtype: int64